 body {
   background: radial-gradient(ellipse at bottom, #242530 0%, #090a0f 100%);
 }

 :root {
   --main-bg-color: #009d63;
   --main-text-color: #009d63;
   --second-text-color: #bbbec5;
   --second-bg-color: #c1efde;
 }

 .primary-text {
   color: var(--main-text-color);
 }

 .second-text {
   color: var(--second-text-color);
 }

 .primary-bg {
   background-color: var(--main-bg-color);
 }

 .secondary-bg {
   background-color: var(--second-bg-color);
 }

 .rounded-full {
   border-radius: 100%;
 }

 #wrapper {
   overflow: hidden;
   /*background-image: linear-gradient(
    to right,
    #baf3d7,
    #c2f5de,
    #cbf7e4,
    #d4f8ea,
    #ddfaef
  );*/

 }

 #sidebar-wrapper {
   position: fixed;
   min-height: 100vh;
   margin-left: -15rem;
   -webkit-transition: margin 0.25s ease-out;
   -moz-transition: margin 0.25s ease-out;
   -o-transition: margin 0.25s ease-out;
   transition: margin 0.25s ease-out;
   z-index: 1;
 }

 #sidebar-wrapper .sidebar-heading {
   padding: 0.875rem 1.25rem;
   font-size: 1.2rem;
 }

 #sidebar-wrapper .list-group {
   width: 18rem;

 }

 #page-content-wrapper {
   min-width: 100vw;
   margin-left: 320px;
 }

 #wrapper.toggled #sidebar-wrapper {
   margin-left: 0 !important;
 }

 #menu-toggle {
   cursor: pointer;
   position: fixed;
 }
 .list-group-item {
   border: none;

 }
 .list-group-item.active {
   background-color: transparent;
   color: var(--main-text-color);
   font-weight: bold;
   border: none;
 }

 #menu-toggle {
   visibility: hidden;
 }

 @media (min-width: 769px) {
   #sidebar-wrapper {
     margin-left: 0;
   }

   #page-content-wrapper {
     min-width: 0;
     width: 100%;
   }

   #wrapper.toggled #sidebar-wrapper {
     margin-left: -15rem;
   }
 
 }

 @media(max-width:768px) {
   #menu-toggle {
     z-index: 1;
     visibility: visible !important;
   }

   #page-content-wrapper {
     margin-left: 0;
   }

   #sidebar-wrapper .list-group {
     width: 15rem;
   }
   .sidebar{
    background-color: #242530 !important;
   }
 }

 .image-text img {
   width: 80px;
   border-radius: 50px;
 }

 hr {
   width: 90%;
   color: #5cdb95;
   margin-right: auto;
   margin-left: auto;
 }

 .skewed1 {
   background-color: #1a1a23;
   height: 100px;
   width: 100%;
   position: relative;
   padding: 200px 0;
   transform: skew(0deg, 10deg);
   margin-top: -200px;
   z-index: 1;
 }

 .skewed2 {
   background-color: #1a1a23;
   height: 170px;
   width: 100%;
   position: relative;
   padding: 200px 0;
   transform: skew(0deg, -20deg);
   margin-top: -200px;
   z-index: 1;
 }

 .image-text .profileInfo {
   transform: skew(0deg, 10deg);
 }

 .progress {
   width: 90%;
   height: 7px;
   margin-left: auto;
   margin-right: auto;
   padding: 0;
 }



 .information::-webkit-scrollbar {
   display: none;
 }
.sidebar{
  background-color: transparent;
 
  border-right: #242530;
  border-width: thin;
  border-style: solid;
 
}
 .information {
   position: absolute;
   top: 230px;
   bottom: 40px;
   overflow-y: scroll;
   cursor: grabbing;
 

 }
 
 footer {
   height: 40px;
   width: 100%;
   position: absolute;
   bottom: 0;
 }

 .socialLink {
   width: 100%;
   height: 60px;
   background-color: #1a1a23;
   padding: auto;
 }

 .round {
   position: relative;
   border: 2px solid #5cdb95;
   width: 40px;
   height: 40px;
   border-radius: 100%;

 }

 #cta {
   width: 100%;
   cursor: pointer;
   position: absolute;
 }

 #cta .arrow {
   left: 30%;
 }

 .arrow {
   position: absolute;
   bottom: 0;
   margin-left: 0px;
   width: 12px;
   height: 12px;
   background-size: contain;
   top: 13px;
 }

 .segunda {
   margin-left: 8px;
 }

 .next {
   background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHN0eWxlPi5zdDB7ZmlsbDojZmZmfTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTMxOS4xIDIxN2MyMC4yIDIwLjIgMTkuOSA1My4yLS42IDczLjdzLTUzLjUgMjAuOC03My43LjZsLTE5MC0xOTBjLTIwLjEtMjAuMi0xOS44LTUzLjIuNy03My43UzEwOSA2LjggMTI5LjEgMjdsMTkwIDE5MHoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzE5LjEgMjkwLjVjMjAuMi0yMC4yIDE5LjktNTMuMi0uNi03My43cy01My41LTIwLjgtNzMuNy0uNmwtMTkwIDE5MGMtMjAuMiAyMC4yLTE5LjkgNTMuMi42IDczLjdzNTMuNSAyMC44IDczLjcuNmwxOTAtMTkweiIvPjwvc3ZnPg==);
 }

 @keyframes bounceAlpha {
   0% {
     opacity: 1;
     transform: translateX(0px) scale(1);
   }

   25% {
     opacity: 0;
     transform: translateX(10px) scale(0.9);
   }

   26% {
     opacity: 0;
     transform: translateX(-10px) scale(0.9);
   }

   55% {
     opacity: 1;
     transform: translateX(0px) scale(1);
   }
 }

 .bounceAlpha {
   animation-name: bounceAlpha;
   animation-duration: 1.4s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
 }

 .arrow.primera.bounceAlpha {
   animation-name: bounceAlpha;
   animation-duration: 1.4s;
   animation-delay: 0.2s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
 }

 .round:hover .arrow {
   animation-name: bounceAlpha;
   animation-duration: 1.4s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
 }

 .round:hover .arrow.primera {
   animation-name: bounceAlpha;
   animation-duration: 1.4s;
   animation-delay: 0.2s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
 }

 #scroll {
  position:fixed;
  right:10px;
  bottom:10px;
  cursor:pointer;
  width:50px;
  height:50px;
  background-color:#3498db;
  text-indent:-9999px;
  display:none;
  -webkit-border-radius:60px;
  -moz-border-radius:60px;
  border-radius:60px
}
#scroll span {
  position:absolute;
  top:50%;
  left:50%;
  margin-left:-8px;
  margin-top:-12px;
  height:0;
  width:0;
  border:8px solid transparent;
  border-bottom-color:#ffffff;
}
#scroll:hover {
  background-color:#dd3544;
  opacity:1;filter:"alpha(opacity=100)";
  -ms-filter:"alpha(opacity=100)";
}


.navbar-menu.-fillable > .nav-item {
  background-image: linear-gradient(to bottom, transparent 50%, #dd3544 50%);
  background-position: top;
  background-size: 100% 200%;

}
.navbar-menu.-fillable > .nav-item:hover,
.navbar-menu.-fillable > .nav-item.-active {
  background-position: bottom;
}

.navbar-menu > .nav-item {
  transition-duration: 0.25s;
}
.navbar-menu > .nav-item::after {
  transition-duration: 0.25s;
}


.offset {
  box-shadow: 0.1em 0.1em 0 0 var(--color), inset 0.1em 0.1em 0 0 var(--color);
}
.offset:hover, .offset:focus {
  box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
}
.offset {
  --color: #5cdb95;
  --hover: #dd3544;
  transition: 0.25s;
}


.btnslide:hover,
.btnslide:focus {
  box-shadow: inset 25.5em 0 0 0 var(--hover);
  color: white;
}


.btnslide {

  border-color: gray;
  border-left-color: #dd3544;
  border-style: solid;
  border-width: 1px 1px 1px 5px;
  --color: #8fc866;
  --hover: #dd3544;
  transition: 1.5s;
  color: gray;
}

.hamburger .line{
  width: 30px;
  height: 2px;
  background-color: #ecf0f1;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover{
  cursor: pointer;
}

/* ONE */

#hamburger-1.is-active .line:nth-child(2){
  opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1){
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3){
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
}



.flash {
  height: 75px;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 10;
  background-color: #ffffff;
  box-shadow: 0 0 30px 2px #dddddd;
  -webkit-animation: flash-show 300ms ease 0s;
          animation: flash-show 300ms ease 0s;
}
.flash.hide {
  -webkit-animation: flash-hide 5ms ease 0s;
          animation: flash-hide 5ms ease 0s;
  right: -100%;
  opacity: 0;
}
.flash .color {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 5px solid #3498db;
  border-radius: 100%;
  margin: 25px;
}
.flash .color.green {
  border-color: #2ecc71;
}
.flash .color.red {
  border-color: #e74c3c;
}
.flash .text {
  display: inline-block;
  line-height: 75px;
  vertical-align: top;
  margin-right: 100px;
  font-family: "Roboto";
  font-size: 0.9em;
  font-weight: 300;
  color: rgba(25, 25, 25, 0.75);
}
.flash .close {
  width: 16px;
  height: 16px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}
.flash .close:hover span:before, .flash .close:hover span:after {
  background-color: rgba(25, 25, 25, 0.25);
}
.flash .close span {
  width: 16px;
  height: 16px;
  position: relative;
}
.flash .close span:before, .flash .close span:after {
  content: "";
  width: 16px;
  height: 2px;
  background-color: rgba(25, 25, 25, 0.5);
  transition: all 200ms ease;
  position: absolute;
  top: 7px;
}
.flash .close span:before {
  transform: rotate(45deg);
}
.flash .close span:after {
  transform: rotate(-45deg);
}

@-webkit-keyframes flash-show {
  0% {
    right: -100%;
    opacity: 0;
  }
  100% {
    right: 20px;
    opacity: 1;
  }
}

@keyframes flash-show {
  0% {
    right: -100%;
    opacity: 0;
  }
  100% {
    right: 20px;
    opacity: 1;
  }
}
@-webkit-keyframes flash-hide {
  0% {
    right: 20px;
    opacity: 1;
  }
  100% {
    right: -100%;
    opacity: 0;
  }
}
@keyframes flash-hide {
  0% {
    right: 20px;
    opacity: 1;
  }
  100% {
    right: -100%;
    opacity: 0;
  }
}  
